<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ooops!</title>
</head>
<body>
 <h1>Ошибка 500. Что-то пошло не так</h1>
 <section class="jumbotron text-center mt-4"
          style="background: url('https://yandex.ru/images/search?text=confused%20siba&pos=97&p=1&img_url=http%3A%2F%2Fext.fmkorea.com%2Ffiles%2Fattach%2Fnew%2F20181122%2F4168377%2F314670537%2F1400920299%2F99b983892094b5c6d2fc3736e15da7d1.jpeg&rpt=simage'); background: center center">
 </section>
<img src="https://4tololo.ru/sites/default/files/images/20151209112126_0.jpg" alt="">
</body>
</html>